@font-face {
  src: url("fonts/Lavanderia Sturdy.otf") format("truetype");
  font-family: "Lavanderia - Sturdy";
}

@font-face {
  src: url("fonts/Novecento WideBold.otf") format("truetype");
  font-family: "Novecentowide";
}

@font-face {
  src: url("fonts/ostrichsansbold.ttf"), url("fonts/ostrichsansbold.woff"),
    url("fonts/ostrichsansbold.woff2") format("truetype");
  font-family: "Ostrich Sans";
}
@font-face {
  src: url("fonts/ProximaNova.eot"), url("fonts/ProximaNova.ttf"),
    url("fonts/ProximaNova.woff") format("truetype");
  font-family: "Proxima Nova";
}

* {
  box-sizing: border-box;
  font-family: "Proxima Nova";
  font-size: 16px;
}

html {
  font-size: 10px;
}

body {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 850px), (max-device-width: 850px) {
  html {
    font-size: 9px;
  }
}
