.article
  .d-flex.align-items-center
    div.mr-3
      h3.article__title Cooking Classes & Courses in New York
      
      .text
        | Take world-class cooking courses in the heart of New York City! Travel the culinary world from the comfort of our kitchens with our endless selection of hands-on cooking classes taught by 
        | Kitchen-Master's renowned Chef Instructors.
        
    div
      img(src='img/article.jpg', alt='статья')
      
    
