.banner
  img.mb-4(src='img/banner-top.png', alt='img')
  h2.banner__title no rules
  img.mb-5(src='img/banner-img1.png', alt='img')
  .banner__label1 Don't be afraid
  .banner__label2 to do whatever
  .banner__label3 you want.
  .banner__label4 Cooking
  .banner__label5.mb-4 doesn't have to have rules.
  img.mb-5(src='img/banner-img1.png', alt='img', style="transform: rotate(180deg)")
  
