doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
          section.container-fluid.container_bg-gray.container_cutted.py-5(style="min-height:90vh")
            include ../blocks/banner/banner.jade
            
        

        include ../blocks/footer/footer.jade
