doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
          section.container-fluid.container_bg-gray.container_cutted.py-5(style="min-height:90vh")
            include ../blocks/banner/banner.jade
          
          .container
          
            .article.mx-auto.my-5
              .article__wrapper
                .article__content
                  h3.article__title Cooking Classes & Courses in New York
                  
                  .text
                    | Take world-class cooking courses in the heart of New York City! Travel the culinary world from the comfort of our kitchens with our endless selection of hands-on cooking classes taught by 
                    | Kitchen-Master's renowned Chef Instructors.
                    
                div
                  img(src='img/article.jpg', alt='статья')
                  
            .article.mx-auto.mt-10.reversed
              .article__wrapper
                .article__content
                  h3.article__title Cooking Classes & Courses in New York
                  
                  .text
                    | Take world-class cooking courses in the heart of New York City! Travel the culinary world from the comfort of our kitchens with our endless selection of hands-on cooking classes taught by 
                    | Kitchen-Master's renowned Chef Instructors.
                    
                div
                  img(src='img/article.jpg', alt='статья')
                  
        

        include ../blocks/footer/footer.jade
